In [15]:
#import the essential libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [8]:
#the training full data
#which contains dependent feature an output value Saleprice

X_full = pd.read_csv("https://raw.githubusercontent.com/demidafonichev/housing-prices-competition-for-kaggle-learn-users/master/data/train.csv")
X_full.head(3)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500

In [9]:
#the testing data
#data which has no sale price or no dependent features
X_test_full  = pd.read_csv("https://raw.githubusercontent.com/demidafonichev/housing-prices-competition-for-kaggle-learn-users/master/data/test.csv")
X_test_full.head(3)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal

In [16]:
#lets obtain target and predected 
X_full.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [14]:
#the dependent feature
y = X_full["SalePrice"]
y

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [22]:
#select the features we are working in 
features =['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']

In [28]:
#make a copy 
X = X_full[features].copy()
#features selected from X_full training data
X_test = X_test_full[features].copy()
#features selected from X_test testing data
X

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
0,8450,2003,856,854,2,3,8
1,9600,1976,1262,0,2,3,6
2,11250,2001,920,866,2,3,6
3,9550,1915,961,756,1,3,7
4,14260,2000,1145,1053,2,4,9
...,...,...,...,...,...,...,...
1455,7917,1999,953,694,2,3,7
1456,13175,1978,2073,0,2,3,7
1457,9042,1941,1188,1152,2,4,9
1458,9717,1950,1078,0,1,2,5
1459,9937,1965,1256,0,1,3,6

In [29]:
from sklearn.model_selection import train_test_split

In [31]:
#train_test_split from sklearn and define testing and training ration by define the size of
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size = 0.8,test_size = 0.2,random_state = 1)

In [34]:
#to get overview off splited data
X_train.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
921,8777,1900,1272,928,2,4,9
520,10800,1900,694,600,2,3,7
401,8767,2005,1310,0,2,3,6
280,11287,1989,1175,807,2,3,7
1401,7415,2004,864,729,2,3,8

In [42]:
#define few model for  RandomForestRegressor
from sklearn.ensemble import RandomForestRegressor
model1 = RandomForestRegressor(n_estimators=50,random_state=0)
model2 = RandomForestRegressor(n_estimators=100,random_state = 0)
model3 = RandomForestRegressor(n_estimators=100,criterion='mse',random_state = 0)
model4 = RandomForestRegressor(n_estimators=200,min_samples_split=20,random_state = 0)
model5 = RandomForestRegressor(n_estimators=200,max_depth = 7,random_state = 0)
#put every model in list variable
models = [model1,model2,model3,model4,model5]

create a simple function to perform number.or say 5models of  RandomForestRegressor algoritham 
To select the best model out of the five, we define a function score_model() below.
This function returns the mean absolute error (MAE)
from the validation set. Recall that the best model will obtain the lowest MAE.

In [43]:
#for defining the mean absolute errors
from sklearn.metrics import mean_absolute_error

In [49]:
def score_model(model, X_t=X_train, X_v=X_test, y_t=y_train, y_v=y_test):
    model.fit(X_t, y_t)
    preds = model.predict(X_v)
    return mean_absolute_error(y_test,preds)

In [54]:
for i in range(0,len(models)):
    mae = score_model(models[i])
    print("model %d mae: %d"%(i+1,mae))

model 1 mae: 22074
model 2 mae: 21979
model 3 mae: 21979
model 4 mae: 22508
model 5 mae: 22388

In [55]:
#model 3 have lees mae than every other model

In [56]:
mod =  RandomForestRegressor(n_estimators=100,criterion='mse',random_state = 0)

In [60]:
RF= mod.fit(X_train,y_train)
y_pred = RF.predict(X_test)

In [65]:
y_pred

array([197094.65      , 147244.        , 131407.08      ,  85759.83333333,
       151138.68      , 263433.63      , 322230.92      , 146685.18      ,
       217283.15      , 226846.36      , 168825.14      , 102845.36      ,
       220347.62      , 243188.87      , 246826.69      , 108753.78      ,
       112746.        , 146448.46      , 195334.09      , 139053.17      ,
       145529.5       , 185380.19      , 226357.        , 334436.84      ,
       104418.        , 168406.        , 123626.75      , 192699.44      ,
       510801.2       , 120767.34      , 140045.11      ,  98396.66666667,
       120418.5       , 108584.        , 136008.75      , 347486.99      ,
       111461.25      , 108052.        , 278242.7       , 115230.52      ,
       148363.        , 131882.75      , 105801.        , 112211.5       ,
       183747.        , 174163.74      ,  92406.        , 192301.96      ,
       248954.19      , 214974.4       , 127788.5       , 383096.7       ,
        98598.        , 241024.5       , 190526.54      , 107943.5       ,
       128710.5       , 175871.        , 127697.96      , 182983.5       ,
       173324.5       , 313577.46      , 115537.26      , 122162.        ,
       170955.5       , 126606.08      , 139161.66      , 223333.85      ,
       167047.6       , 148852.14      , 203587.21      , 127563.13      ,
       314862.94      , 150752.68      , 129037.82      , 222845.85      ,
       170789.        , 110897.78      , 360620.64      , 192974.81      ,
       202491.99      , 138630.34      , 131743.1       , 151429.        ,
       181561.5       , 151618.45      , 153477.75      , 166984.93      ,
       194929.65      , 166921.5       , 246632.5       , 157327.        ,
       126709.        , 143261.41      , 133603.7       , 103843.32      ,
       121747.75      , 139010.        , 131883.        , 146724.59      ,
       189903.        , 128666.6       , 128021.33      , 118431.        ,
       110427.        , 146566.32      , 186098.8       , 145262.37      ,
       158308.5       , 318654.97      , 128085.04      , 167937.        ,
       146620.        , 195118.98      , 223172.08      , 180750.1       ,
       237107.44      , 120041.5       , 179374.14      , 193381.02      ,
       151979.54      , 247922.39      , 329631.15      , 138453.5       ,
       227387.34      , 179164.75      , 316506.98      , 118411.5       ,
       183232.68      , 215645.45      , 276783.23      , 123602.5       ,
       122948.        , 111033.        ,  91261.5       , 204076.        ,
       582418.57      , 289319.32      , 234941.        , 114682.4       ,
       154494.52      , 260845.26      , 133628.        , 202083.29      ,
       136888.93      , 225105.83      , 111183.5       , 216601.7       ,
       221271.45      , 123539.99      , 176004.        , 180606.92      ,
       127476.        , 182541.        , 173964.        , 338621.61      ,
        88386.02      , 146827.24      , 105984.14      , 142469.09      ,
       100630.11      , 106116.17      , 148132.        , 142603.2       ,
       140513.65      , 147325.        , 177051.        , 155669.84      ,
       149362.15      , 128931.26      , 240577.26      , 178766.24      ,
       238594.        , 303819.99      , 192459.65      , 135510.97      ,
       192273.        , 208960.9       , 131382.2       , 152237.        ,
       126226.5       , 174112.03      , 185682.92      , 123469.57      ,
       280796.85      , 169932.        , 390935.41      , 288157.47      ,
       148908.36      , 118968.        , 113684.        , 150470.7       ,
        91104.33333333, 144746.25      , 129973.66      , 307307.39      ,
       252394.26      , 147291.59      , 154750.32      ,  78008.5       ,
       190958.65      , 233667.        , 167257.55      , 183698.32      ,
       265645.98      , 100621.        , 186376.18      , 311583.66      ,
       247473.37      , 237208.        , 191173.5       , 107127.        ,
       165325.04      , 137541.5       , 281471.48      , 260461.2       ,
       124867.5       ,  97612.25      , 189829.4       ,  87883.69      ,
       642722.18      , 121732.5       , 168479.04      , 169116.        ,
       108896.36      , 114071.3       , 194314.75      , 185913.99      ,
       167249.11      , 172702.        , 125643.21      , 188012.        ,
       114809.26      , 133085.5       , 273333.71      , 134503.17      ,
       308022.53      , 117090.24      , 150189.46      , 292276.18      ,
       260931.56      , 147726.57      , 149734.64      , 166269.64      ,
       136974.5       , 130348.        , 146344.48      , 166304.        ,
       164920.        , 156710.32      , 121061.        , 112868.2       ,
       182312.93      , 160446.        , 145537.1       , 115672.        ,
       178165.        ,  80182.55      , 347398.31      , 127969.5       ,
       190036.43      , 214134.29      , 211595.13      , 184672.        ,
       121413.        , 179981.14      , 152847.75      , 134830.5       ,
       148868.        ,  97398.41666667, 164836.        , 180401.16      ,
       104915.09      , 130714.        , 172529.        , 135664.        ,
       115711.34      , 137569.        , 193817.        , 133766.5       ,
       136521.        , 135571.5       , 135370.5       , 151366.75      ,
       245042.94      , 241055.26      , 131465.7       , 112188.5       ,
       262233.96      , 110524.25      , 110039.51      , 273793.33      ])

In [66]:
#ssave in output into compatition formate

In [69]:
output = pd.DataFrame({"Id":X_test.index,
                      "SalePrice":y_pred})
output.to_csv("submission.csv",index = False)